<h3></h3> 
<!-- div row para pesquisa --> 
<!--<div class="row">--> 
<div data-component="crn-button" id="crn-button-564202" class=""> 
  <button class="btn btn-primary" type="submit" onclick="" data-component="crn-button" ng-click="FormacaoCV.startInserting()" ng-hide="FormacaoCV.inserting || FormacaoCV.editing" ng-disabled="FormacaoCV.data.length > 0"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button> 
</div> 
<!-- fim div row para pesquisa --> 
<!--</div>--> 
<datasource filter="" name="FormacaoCV" entity="api/cronapi/query/skmtb21ionxu/" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
<div class="component-holder" data-component="crn-grid" id="crn-grid-FormacaoCV"> 
  <div crn-datasource="FormacaoCV" class="" ng-hide="FormacaoCV.editing || FormacaoCV.inserting"> 
    <table class="table  table-bordered table-hover table-striped"> 
      <thead> 
        <tr class="table-header"> 
          <th class="" cronapp-security="visible : None, enabled : None"> 
            <div class="">
               Id 
            </div> </th> 
          <th class="" cronapp-security="visible : None, enabled : None"> 
            <div class="">
               FuncionarioCV 
            </div> </th> 
          <th class=""> 
            <div class="">
               Instituição 
            </div> </th> 
          <th class=""> 
            <div class="">
               Curso 
            </div> </th> 
          <th class=""> 
            <div class="">
               Título da Formação 
            </div> </th> 
          <th class=""> 
            <div class="">
               Tipo da Formação 
            </div> </th> 
          <th class=""> 
            <div class="">
               Início 
            </div> </th> 
          <th class=""> 
            <div class="">
               Término 
            </div> </th> 
          <th class=""> 
            <div class="">
               Data Última Alteração 
            </div> </th> 
          <th class="" cronapp-security="visible : None, enabled : None"> 
            <div class="">
               Tenant ID 
            </div> </th> 
          <th class=""> 
            <div class="">
               {{"template.crud.actions" | translate}} 
            </div> </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="table-content" ng-repeat="rowData in datasource.data"> 
          <td class="" cronapp-security="visible : None, enabled : None"> 
            <div class="">
               {{rowData.id }} 
            </div> </td> 
          <td class="" cronapp-security="visible : None, enabled : None"> 
            <div class="">
               {{rowData.funcionarioCV.idFuncJanus}} 
            </div> </td> 
          <td class=""> 
            <div class="">
               {{rowData.nomeInstituicao }} 
            </div> </td> 
          <td class=""> 
            <div class="">
               {{rowData.nomeCurso }} 
            </div> </td> 
          <td class=""> 
            <div class="">
               {{rowData.tituloFormacao }} 
            </div> </td> 
          <td class=""> 
            <div class="">
               {{rowData.tipoFormacao }} 
            </div> </td> 
          <td class=""> 
            <div class="">
               {{rowData.inicio }} 
            </div> </td> 
          <td class=""> 
            <div class="">
               {{rowData.termino }} 
            </div> </td> 
          <td class=""> 
            <div class="">
               {{rowData.dataUltimaAlteracao | mask:'date'}} 
            </div> </td> 
          <td class="" cronapp-security="visible : None, enabled : None"> 
            <div class="">
               {{rowData.tenantID }} 
            </div> </td> 
          <td class=""> 
            <div class=""> 
              <button class="btn btn-warning btn-sm" data-component="crn-button" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button> 
              <button class="btn btn-danger btn-sm" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
            </div> </td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
</div> 
<div data-component="crn-form" id="crn-form-form-FormacaoCV"> 
  <div class="form" ng-show="FormacaoCV.editing || FormacaoCV.inserting"> 
    <form crn-datasource="FormacaoCV" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
        <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
        <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
        <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
        <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
        <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
      </div> 
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
         
         
      </div> 
      <br> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
         
        <div data-component="crn-textinput" id="crn-textinput-tenantID" class="col-md-12" cronapp-security="visible : None, enabled : None"> 
          <div class="form-group"> 
            <label for="textinput-tenantID" class="">Tenant ID</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="text" ng-model="FormacaoCV.active.tenantID" class="form-control" id="textinput-tenantID" placeholder="Tenant ID" mask="" mask-placeholder="" ng-required="false"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div><div data-component="crn-textinput" id="crn-textinput-nomeInstituicao" class="col-md-6"> 
          <div class="form-group"> 
            <label for="textinput-nomeInstituicao" class="">Nome da Instituição</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="text" ng-model="FormacaoCV.active.nomeInstituicao" class="form-control" id="textinput-nomeInstituicao" placeholder="Nome da Instituição" mask="" mask-placeholder="" ng-required="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-nomeCurso" class="col-md-6"> 
          <div class="form-group"> 
            <label for="textinput-nomeCurso" class="">Nome do Curso</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="text" ng-model="FormacaoCV.active.nomeCurso" class="form-control" id="textinput-nomeCurso" placeholder="Nome do Curso" mask="" mask-placeholder="" ng-required="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-tituloFormacao" class="col-md-12"> 
          <div class="form-group"> 
            <label for="textinput-tituloFormacao" class="">Título da Formação</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="text" ng-model="FormacaoCV.active.tituloFormacao" class="form-control" id="textinput-tituloFormacao" placeholder="Título da Formação" mask="" mask-placeholder="" ng-required="true"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div><div class="component-holder ng-binding ng-scope col-md-12" data-component="crn-combobox" id="crn-combobox-900754"> 
            <div class="form-group"> 
              <label for="">Tipo da Formação</label> 
              <ui-select crn-datasource="[{'key':'Graduação','value':'Graduação'},{'key':'Pós-Graduação','value':'Pós-Graduação'},{'key':'MBA','value':'MBA'},{'key':'Mestrado','value':'Mestrado'},{'key':'Doutorado','value':'Doutorado'},{'key':'Pós-Doutorado','value':'Pós-Doutorado'}]" ng-model="FormacaoCV.active.tipoFormacao" ng-required="true" ng-disabled="disabled" class="crn-select"> 
                <ui-select-match placeholder="Select..." class="">
                   {{$select.selected.value}} 
                </ui-select-match> 
                <ui-select-choices repeat="rowData.key as rowData in datasource.data | filter: $select.search" class=""> 
                  <div class="">
                     {{rowData.value}} 
                  </div> 
                </ui-select-choices> 
              </ui-select> 
            </div> 
          </div><div data-component="crn-textinput" id="crn-textinput-inicio" class="col-md-6"> 
          <div class="form-group"> 
            <label for="textinput-inicio" class="">Início</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="date" ng-model="FormacaoCV.active.inicio" class="form-control" id="textinput-inicio" placeholder="Inicio" mask="" mask-placeholder="" ng-required="false"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-termino" class="col-md-6"> 
          <div class="form-group"> 
            <label for="textinput-termino" class="">Término</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="date" ng-model="FormacaoCV.active.termino" class="form-control" id="textinput-termino" placeholder="Termino" mask="" mask-placeholder="" ng-required="false"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div> 
         
        <div data-component="crn-textinput" id="crn-textinput-tipoFormacao" class="col-md-12"> 
           
        </div> 
        <div data-component="crn-textinput" id="crn-textinput-dataUltimaAlteracao" class="col-md-12" cronapp-security="visible : None, enabled : None"> 
          <div class="form-group"> 
            <label for="textinput-dataUltimaAlteracao" class="">Data Ultima Alteracao</label> 
            <!-- else for if !model.hasCronappFramework() --> 
            <input type="date" ng-model="FormacaoCV.active.dataUltimaAlteracao" class="form-control" id="textinput-dataUltimaAlteracao" placeholder="Data Ultima Alteracao" mask="" mask-placeholder="" ng-required="false"> 
            <!-- end if !model.hasCronappFramework() --> 
          </div> 
        </div><button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button><button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button> 
         
        <!-- NtoN  --> 
        <!-- NtoN  end--> 
      </fieldset> 
    </form> 
    <form> 
      <fieldset> 
        <!-- OneToN --> 
        <!-- OneToOne  end --> 
      </fieldset> 
    </form> 
  </div> 
</div> 
<!-- OneToOne modal --> 
<!-- OneToOne modal end-->